@import 'MainLayout.scss';
@import 'DashboardLayout.scss';
@import 'Employee.scss';
@import 'clientLayout.scss';
@import 'accountLayout.scss';
@import 'invoiceLayout.scss';
@import 'dashboard-home-styles.scss';
@import 'sideMenuStyles.scss';
@import 'Home-styles.scss';

.wh-txt{ color: white!important; }
.grey-txt{ color: grey!important; }
.silver-txt{ color: silver!important; }
.blue-txt{ color: rgb(45, 148, 176)!important; }
.red-txt{ color: rgb(215, 71, 31)!important; }
.green-txt{ color: rgb(76, 227, 136)!important; }

.light-blue-bg{ background-color: rgb(195, 16, 16)!important; }

.fs-10 { font-size: 10px!important; }
.fs-11 { font-size: 11px!important; }
.fs-12 { font-size: 12px!important; }
.fs-13 { font-size: 13px!important; }
.fs-14 { font-size: 14px!important; }
.fs-15 { font-size: 15px!important; }
.fs-16 { font-size: 16px!important; }
.fs-17 { font-size: 17px!important; }
.fs-18 { font-size: 18px!important; }
.fs-19 { font-size: 19px!important; }
.fs-20 { font-size: 20px!important; }
.fs-21 { font-size: 21px!important; }
.fs-22 { font-size: 22px!important; }
.fs-23 { font-size: 23px!important; }
.fs-24 { font-size: 24px!important; }
.fs-25 { font-size: 25px!important; }
.fs-26 { font-size: 26px!important; }
.fs-27 { font-size: 27px!important; }
.fs-28 { font-size: 28px!important; }
.fs-29 { font-size: 29px!important; }
.fs-30 { font-size: 30px!important; }
.fs-31 { font-size: 31px!important; }
.fs-32 { font-size: 32px!important; }
.fs-33 { font-size: 33px!important; }
.fs-34 { font-size: 34px!important; }
.fs-35 { font-size: 35px!important; }
.fs-45 { font-size: 45px!important; }
.fs-65 { font-size: 65px!important; }

.fw-1{ font-weight: 100!important; }
.fw-2{ font-weight: 200!important; }
.fw-3{ font-weight: 300!important; }
.fw-4{ font-weight: 400!important; }
.fw-5{ font-weight: 500!important; }
.fw-6{ font-weight: 600!important; }
.fw-7{ font-weight: 700!important; }
.fw-8{ font-weight: 800!important; }
.fw-9{ font-weight: 900!important; }


.ag-theme-alpine {
  
  .ag-header-cell {
    border-right: 1px solid rgb(219, 219, 219) !important;
    color: rgb(94, 94, 94)!important;
    background-color: #f3f3f3;
    padding-left: 7px;
    padding-right: 0px;
  }
  .ag-cell{
    border-right:1px solid rgb(219, 219, 219) !important;
    padding-left: 7px;
    padding-right: 0px;
  }
}

.bg-signin{
  background-image: url("../public/loginBg.png");
  overflow: hidden;

  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ant-input-disabled{
  color: rgb(64, 64, 64)!important;
}

.login-inp{
  color: rgb(0, 0, 0);
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid rgb(52, 50, 50);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #162a4600;
  position: relative;
  left: 30px;
  text-align: left;
  width: 60%;
}

.login-inp:focus{
  outline: #215c7100;
  border-bottom: 3px solid rgba(27, 141, 156, 0.687);
  border-top: none;
  border-left: none;
  border-right: none;
}

.username-img{
  position: relative;
  right: 1%;
}

.login-btn{
  background-color: rgb(6, 150, 172)!important;
  border: 1px solid rgb(6, 150, 172)!important;
  border-radius: 55px!important;
  padding:12px 50px 12px 50px!important;
  font-weight: 500!important;
  color: white;
  width: 60%;
}
.login-btn:hover{
  transition-duration: 300ms;
  background-color: rgb(6, 150, 172)!important;
  color: rgb(238, 238, 238);
}

.flip{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.div-btn{
  background-color: rgb(6, 150, 172)!important;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.btn-custom-small{
  background-color: rgb(6, 150, 172)!important;
  color: white;
  padding: 3px 15px 3px 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.btn-custom{
  background-color: rgb(6, 150, 172)!important;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.btn-custom-disabled{
  background-color: rgb(126, 173, 181)!important;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  border: none;
  cursor:not-allowed
}
.btn-red{
  background-color: rgb(146, 26, 18)!important;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.btn-red-two{
  color: rgb(146, 26, 18)!important;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
.btn-red-two:hover{
  color: rgb(255, 255, 255)!important;
  background-color: rgb(146, 26, 18)!important;
}
.btn-red-disabled{
  background-color: rgb(103, 57, 54)!important;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  border: none;
  cursor:not-allowed
}
.btn-orange{
  background-color: rgb(194, 105, 22)!important;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.fl-right{
  float: right;
}

.div-btn-custom{
  background-color: rgb(6, 150, 172)!important;
  color: white;
  border-radius: 15px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
.div-btn-custom-green{
  background-color: rgb(12, 136, 54)!important;
  color: white;
  font-size: 12px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
.div-btn-custom-red{
  background-color: rgb(12, 136, 54)!important;
  color: white;
  font-size: 12px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.tableFixHead thead th {
  transition-duration: 300ms;
  position: sticky;
  top: 0;
  background-color: rgb(243, 243, 243);
  z-index: 1;
}
.tableFixHead thead{
  border: 1px solid rgb(232, 232, 232);
  border-radius: 25px!important;
  color: grey;
}

.modify-edit:hover{
  cursor: pointer;
  color: rgb(6, 150, 172)!important;
}

.right{
  float: right!important;
}

.error-line{
  color:red;
  position: relative;
  top: 0px;
}

.previous-rec{
  background-color: rgb(220, 217, 139);
  padding: 3px;
  border-radius: 2px;
  line-height: 1px;
  margin-right: 2px;
  font-weight: 600;
  color: rgb(69, 64, 64);
}
.new-rec{
  background-color: rgb(191, 223, 200);
  padding: 3px;
  border-radius: 2px;
  line-height: 1px;
  margin-left: 2px;
  font-weight: 600;
  color: rgb(69, 64, 64);
}
.arrows-rec{
  font-size: 20px;
  line-height: 1px;
}
.title-rec{
  font-size: 12px;
  color: grey;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 25px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.dest-con{
  padding: 10px;
}
.destination{
  background-color: rgb(209, 242, 243);
  color: rgb(2, 56, 133);
  border-radius: 5px;
  padding: 5px;
}

.cross-icon{
  color: rgb(21, 5, 5);
  cursor: pointer;
}
.cross-icon:hover{
  color: rgb(211, 65, 65);
}

.cross-btn{
  cursor: pointer;
  color: rgb(211, 65, 65);
  position: relative;
  font-size: 20px;
  left: 301px;
  bottom: 13px;
}

.table-heading-center > th {
  text-align: center;
}

.table-row-center-singleLine > td {
  white-space: nowrap;
}

.table-dropdown{
  border-color: red;
  width: 100%;
}

.table-select-list:hover{
  transition-duration: 300ms;
  cursor: pointer;
  background-color: rgba(210, 148, 72, 0.144);
}
.table-select-list-selected{
  background-color: rgb(251, 213, 166);
  padding: 20px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.tr-clickable{
  cursor: pointer;
}
.tr-clickable:hover{
  transition-duration: 300ms;
  background-color: rgb(240, 240, 240);
}
.tr-clickable:hover td:nth-child(2){
  color: rgb(41, 145, 145);
}

.selected-invoice{
  background-color: #32354d;
  padding: 20px;
  border-radius: 5px;
}

.searched-item{
  background-color: white;
  min-width: 500px;
  cursor: pointer;
}
.searched-item:hover{
  transition-duration: 300ms;
  background-color: rgb(239, 239, 239);
  color: rgb(41, 145, 145);
}

.vertical tbody tr{
  height: 100%;
}
.vertical tbody tr td{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.custom-select-input{
  border:1px solid rgb(213, 213, 213);
  padding:4px 10px;
  border-radius: 2px;
  cursor:pointer
}
.custom-select-input:hover{
  transition-duration: 150ms;
  border:1px solid rgb(110, 195, 255);
}

.custom-select-input-small{
  border:1px solid rgb(213, 213, 213);
  padding:0px 10px;
  font-size: 14px;
  border-radius: 2px;
  cursor:pointer
}
.custom-select-input-small:hover{
  transition-duration: 150ms;
  border:1px solid rgb(110, 195, 255);
}

.gl-col-lines{
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 5px;
}

.gl-curr-rep{
  color: rgb(156, 156, 156);
  font-size: 80%;
}

.acc-rec-warn{
  color: rgb(169, 49, 49);
  font-weight: 100;
  font-size: 80%;
}

.acc-rec-succ{
  color: rgb(49, 169, 81);
  font-weight: 100;
  font-size: 80%;
}

.row-hov{
  transition-duration: 300ms;
  background-color: white;
  cursor: pointer;
}
.row-hov:hover{
  transition-duration: 300ms;
  background-color: rgb(208, 236, 239);
  cursor: pointer;
}

.cur{
  cursor: pointer;
}

.bg-trans-grey{
  background-color: rgba(128, 128, 128, 0.405);
}
.row-btm-line{
  border-bottom: 1px solid rgb(59, 59, 59);
  padding-bottom: 0px;
  padding-top: 15px;
}
.fl-r{
  float: right;
}

.dummy-input{
  border: 1px solid rgb(204, 212, 217);
  padding: 5px 4px 4px 7px;
  height: 32px;
  margin-top: 0px;
  border-radius: 2px;
}
.dummy-input:hover{
  cursor: pointer;
  border: 1px solid rgb(132, 198, 239);
}

.center{
  text-align: center;
}

.no-lineBr > th{
  white-space: nowrap!important;
}

.close-btn{
  cursor: pointer;
  color: black;
}
.close-btn:hover{
  transition-duration: 300ms;
  color : rgb(193, 37, 37);
  border-radius: 25px;
}

.my-custom-paragraph{
  margin: 0px;
  margin-left: 5px;
  background-color: white;
}

.brdr-grey{
  border: 1px solid rgb(202, 202, 202);
}

.ProseMirror:focus{
  outline: none;
}

.bg-blue-selected{
  background-color:rgba(63, 179, 195, 0.215);
}

.bl-print > p{
  line-height: 11px;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}

.invert{
  filter: invert(0.6);
}

// Remove These

.box-container{
  height: 300px;
  width: 300px;
}
.box-row{
  //display: inline-block;
  height: 100px;
  flex: 3;
  display: flex;
  flex-direction: row;
}
.check-box {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 1px solid silver;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 30px;
  cursor: pointer;
}
.check-box:hover{
  transition-duration: 300ms;
  border: 1px solid orange;
  background-color: rgba(238, 238, 2, 0.159);
}
.white-bg{ background-color: white; }
.grey-bg{ background-color: rgb(161, 161, 161)!important; }
.green-bg{ background-color: rgb(55, 183, 72)!important; }

// Remove These

.spinnerz {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-top: solid 0.3rem #007bff;
  border-right: solid 0.3rem transparent;
  border-bottom: solid 0.3rem transparent;
  border-left: solid 0.3rem transparent;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.stretch-y{
  -webkit-transform: scale(1, 3);
  -moz-transform: scale(1, 3);
  -o-transform: scale(1, 3);
  transform: scale(1, 3);
}

div.rc-virtual-list > div.rc-virtual-list-holder > div > div{
  width: 200%;
}

.custom-link{
  color: #007bff;
  cursor: pointer;
  width:max-content
}

.notificationSide {
  height: 780px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgba(0,0,0,0.05);
  flex: 0.5; 
  padding: 1rem;
}

.notifications {
  padding: 15px 15px;
  margin: 5px;
  width : 100%;
  border: 1px solid silver;
  cursor: pointer;
}

.notifications:hover {
  transition-duration: 300ms;
  background-color: silver !important;
  color: #000000 !important;
}

.table-row-no-padding > td{
  padding: 0px!important;
}

.ant-select-item {
  font-size: 12px!important;
}

.round-icon-cont{
  background-color: rgb(40, 179, 179);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: rgb(238, 238, 238);
  cursor: pointer;
}
.round-icon-cont:hover{
  transition-duration: 300ms;
  background-color: rgb(16, 132, 132);
  color: rgb(255, 255, 255);
}